<!DOCTYPE html>
<html>
<head>
	<title>3D Chemical Lab</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
	<!-- Guide Tab Panel -->
	<div id="guide-tab">
		<div class="gtab-app-header">
			<i id="gtab-back-to-scene" class="fas fa-angle-left"></i>
			<h2>Virtual Chemistry Lab</h2>
		</div>
		<div id="gtab-content">
			<div class="gtab-unit-header">
				<i id="gtab-back-to-menu" class="fas fa-arrow-alt-circle-left"></i>
				<span id="gtab-content-header"><h4>Lessons</h4></span>
			</div>

			<div id="gtab-content-body">

			</div>
		</div>
		<div id='gtab-pagination'>
			<i id="gtab-pagination-left" class="fas fa-angle-left"></i>
			<span id="gtab-pagination-page"></span>
			<i id="gtab-pagination-right" class="fas fa-angle-right"></i>
		</div>
	</div>

	<!-- Guide Text Panel -->
	<div id="guide-text">
		<div id="gt-close-button">
			<b></b><b></b><b></b><b></b>
		</div>
		<div id="gt-body"></div>
		<div id="gt-pagination">
			<i id="gt-pagination-left" class="fas fa-angle-left"></i>
			<span id="gt-pagination-page"></span>
			<i id="gt-pagination-right" class="fas fa-angle-right"></i>
		</div>
	</div>

	<!-- Info Panel (on mouse over equipments and some positions) -->
	<div id="info-panel">
	</div>

	<!-- Scripts -->
	<script src="lib/three.min.js"></script>
	<script src="lib/dat.gui.min.js"></script>
	<script src="lib/stats.min.js"></script>
	<script src="lib/Tween.js"></script>
	<script src='lib/threex.domevents.js'></script>
	<!-- Controls -->
	<script src="lib/controls/OrbitControls.js"></script>
	<script src="lib/controls/TrackballControls.js"></script>
	<!-- Loaders -->
	<script src="lib/loaders/LoaderSupport.js"></script>
	<script src="lib/loaders/MTLLoader.js"></script>
	<script src="lib/loaders/OBJLoader.js"></script>
	<script src="lib/loaders/STLLoader.js"></script>
	<!-- Utils -->
	<script src="lib/utils/SceneUtils.js"></script>
	<!-- Main JS -->
	<!-- Periodic Table -->
	<script src="js/dataRetriever.js"></script>
	<script src="js/element-tools.js"></script>
	<script src="js/eventListener.js"></script>
	<script src="js/periodic-table.js"></script>
	<!-- Lab -->
	<script src="js/interactive.js"></script>
	<script src="js/labwares.js"></script>
	<script src="js/lab-scene.js"></script>
	<script src="js/lab-guide.js"></script>
	<script src="js/unit-loop.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
