<!DOCTYPE html>
<html>
<head>
	<title>3D Chemical Lab</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<script src="lib/three.min.js"></script>
	<script src="lib/dat.gui.min.js"></script>
	<script src="lib/stats.min.js"></script>
	<script src="lib/Tween.js"></script>
	<script src='lib/threex.domevents.js'></script>

	<script src="lib/controls/OrbitControls.js"></script>
	<script src="lib/controls/TrackballControls.js"></script>

	<script src="lib/BufferGeometryUtils.js"></script>

	<!-- <script src="lib/shaders/CopyShader.js"></script>
	<script src="lib/shaders/FXAAShader.js"></script>

	<script src="lib/postprocessing/EffectComposer.js"></script>
	<script src="lib/postprocessing/RenderPass.js"></script>
	<script src="lib/postprocessing/ShaderPass.js"></script> -->

	<script src="js/main.js"></script>
</body>
</html>
