body {
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

h1, h2 {
    margin: 0;
}

#preview-panel {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-out;
    pointer-events: none;
    padding: 10px;

    background: #2C3E50;
    color: #F2F2F2;
}

#preview-panel h1.symbol {
    position: absolute;
    bottom: 0px;
    font-size: 500%;
}

#preview-panel ul {
    margin: 5px 0;
    padding-left: 20px;
    font-size: 13px;
    line-height: 1.5;
}