body {
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

h1, h2 {
    margin: 0;
}

/* CSS for Preview Panel */
#preview-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-out;
    pointer-events: none;
    padding: 10px;
    background: #A49A87;
    color: #644D52;
}

#preview-panel h1.symbol {
    position: absolute;
    bottom: 0px;
    font-size: 500%;
}

#preview-panel ul {
    margin: 5px 0;
    padding-left: 20px;
    font-size: 13px;
    line-height: 1.5;
}

/* Guide Tab */
#guide-tab {
    position: absolute;
    width: 1020px;
    height: 720px;
    top: 11vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background: #F2F2F2;

    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-out;
}

#guide-tab #gtab-back-to-scene {
    padding: 3px 12px;
    font-size: 30px;
    border-right: 1px solid white;
}

#guide-tab .gtab-app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #2C3E50;
    color: white;
    padding: 5px 0;
}

#guide-tab .gtab-app-header h2 {
    font-size: 20px;
    padding: 0 10px;
}

#guide-tab #gtab-back-to-scene:hover {
    color: rgba(255,255,255, 0.5);
    cursor: pointer;
}

#guide-tab #gtab-content {
    width: 100%;
    height: 93.5%;
    top: 20%;
}

#guide-tab #gtab-content-body {
    font-size: 24px;
    line-height: 1.5;
    padding: 10px;
}

#guide-tab #gtab-content-body li{
    list-style-type: none;
}

#guide-tab #gtab-content-body li a:link{
    width: 90%;
    background-color: #f2e3c7;
    color: #343642;
    border: 2px solid #348899;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 10px;
}

#guide-tab #gtab-content-body li a:visited{
    border-color: #343642;
}

#guide-tab #gtab-content-body li a:hover{
    background-color: #348899;
    color: #962d3e;
}

#guide-tab #gtab-content #gtab-back-to-menu {
    pointer-events: none;
    font-size: 20px;
    padding: 3px 10px;
    opacity: 0.5;
}

#guide-tab #gtab-content #gtab-back-to-menu:hover {
    color: rgba(255,255,255, 0.5);
    cursor: pointer;
}

#guide-tab .gtab-unit-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1ab1e4;
    color: white;
    padding: 10px 0;
}

#guide-tab .gtab-unit-header h4 {
    margin: 0;
}

#guide-tab #gtab-pagination {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 40px;

    visibility: hidden;
}

#guide-tab #gtab-pagination i {
   padding: 10px;
}

#guide-tab #gtab-pagination i:hover {
    background: rgba(255,255,255, 0.5);
    cursor: pointer;
}

/* Guide Text */
#guide-text {
    position: absolute;
    width: 600px;
    height: 150px;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background: rgba(26, 26, 26, 0.8);

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}

/* Guide Text Close Button */
#guide-text #gt-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    overflow: hidden;
    background: #C4C4C4;
    border-radius: 2px;
    border: solid 4px rgba(26, 26, 26, 0.8);;
    transition: all 0.3s ease-out;
    cursor: pointer;

    width: 10px;
    height: 10px;
}

#guide-text #gt-close-button:hover {
    background: #FFFFFF;
}

#guide-text #gt-close-button b {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: solid 5px rgba(242, 242, 242, 0);
}

#guide-text #gt-close-button b:nth-child(1){
    border-top-color: rgba(26, 26, 26, 0.8);;
    top: -2px;
}
#guide-text #gt-close-button b:nth-child(2){
    border-left-color: rgba(26, 26, 26, 0.8);;
    left: -2px;
}
#guide-text #gt-close-button b:nth-child(3){
    border-bottom-color: rgba(26, 26, 26, 0.8);;
    bottom: -2px;
}
#guide-text #gt-close-button b:nth-child(4){
    border-right-color: rgba(26, 26, 26, 0.8);;
    right: -2px;
}

/* Guide Text Body */
#guide-text #gt-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #F2F2F2;
    font-size: 20px;
    margin: 0;
    height: 70%;
    text-align: center;
    padding: 10px 10px 0;
    line-height: 1.5;
}

#guide-text #gt-pagination {
    margin: 0;
    height: 30%;
    padding: 10px;
    display: flex;
    float: right;
    color: #F2F2F2;
    font-size: 20px;
}

#guide-text #gt-pagination i:hover {
    color: #FFFFFF;
    cursor: pointer;
}

#guide-text #gt-pagination span {
    padding: 0 5px;
    font-size: 15px;
}

/* Equipment info panel */
#info-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100px;
    pointer-events: none;
    padding: 10px;
    background: #A49A87;
    color: #644D52;

    opacity: 0;
}

#info-panel h3 {
    margin-top: 0;
}

/* Periodic Table Style */

#periodic-container {
    width: 100%;
    margin: 0 auto;
}

#gtab-content #ds-left-column {
    margin: 0;
    position: absolute;
    width: 30%;
    height: 93%;
    border-style: solid;
    border-width: 2px;
    border-color: #2c3e50;
    border-bottom: none;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 12px;
}

#ds-er-container {
    position: absolute;
    left: 30%;
    z-index: -1;
    width: 70%;
    height: 93%;
}

#ds-left-column #left-main-info {
    width: 100%;
    height: 45%;
}

#ds-left-column #left-sub-info {
    border-style: hidden;
    width: 100%;
    height: 45%;
}

#left-info-btn {
    height: 5%;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #2c3e50;
}

#left-info-btn .info-button {
    background-color: #3498DB;
    text-align: center;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    width: 25%;
    height: 100%;
}

#left-info-btn .info-button:hover {
    background-color: #2980B9;
}

#left-info-btn .infoBtn-focus {
    background-color: #2C3E50;
    color: #ECF0F1;
}

#left-info-btn .info-button i {
    text-align: center;
    vertical-align: middle;
}


#left-sub-info .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#left-sub-info .img-wrapper img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #ecf0f1;
}

#left-sub-info .svg-wrapper {
    width: 85%;
    height: 85%;
}

#left-sub-info .svg-image {
    margin-top: 5px;
    width: 100%;
    height: auto;
}

#left-sub-info .text-wrapper {
    height: 100%;
    width: auto;
    padding: 2px;
}

#left-sub-info .text-wrapper h3{
    color: #e74c3c;
}

#left-sub-info .text-wrapper p{
    height: 80%;
    color: #2c3e50;
    overflow: scroll;
}

#left-sub-info #CT-switch-btn {
    height: 50px;
    width: 50px;
    font-size: 15pt;
    border-radius: 50%;
    border: 1px solid #2c3e50;
    background-color: #e74c3c;
    color: #2c3e50;
    position: absolute;
    z-index: 999;
    margin: 0px 0px 5px 3px;
}

/* Zoom back button */
#zoom-back-button {
    position: absolute;
    color: #FFFFFF;
    font-size: 50px;
    bottom: 20px;
    right: 20px;
    display: none;
}